<title>
  <%= title %>
</title>
<link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.min.css" />
<link rel="shortcut icon" type="image/png" href="/images/experts-logo-100.png" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Define app name for GA Tracking 
  <script>
    var expertsUrl = '/projects/apps/your-new-app-name';
</script>
-->

<!-- Global site tag (gtag.js) - Google Analytics 
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114173005-2"></script>
<script>
//  expertsUrl += window.location.hostname;
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-114173005-2',{
    'page_path': expertsUrl
  });
</script>
-->