<div id="status-container" class="slds-align_absolute-center" style="display:none;">
    <div id="status" class="slds-size_8-of-12 ">
        <hr>

        <h2 class="slds-panel__header-title slds-text-heading_small slds-truncate slds-m-bottom_small" title="Status">
            Status</h2>

    </div>
</div>