<div class="slds-align_absolute-center">
    <div class="slds-size_8-of-12 ">

        <h2 class="slds-panel__header-title slds-text-heading_small slds-truncate slds-m-bottom_small"
            title="Example Form">Example Form</h2>

        <fieldset class="slds-form-element slds-form-element_compound">
            <div class="slds-form-element__control">
                <div class="slds-form-element__row">
                    <div class="slds-size_1-of-2">
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="firstName"> <abbr class="slds-required"
                                    title="required">* </abbr>First Name</label>
                            <div class="slds-form-element__control">
                                <input type="text" id="firstName" class="slds-input" placeholder="Will" required="" />
                            </div>
                        </div>
                    </div>
                    <div class="slds-size_1-of-2">
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="lastName"> <abbr class="slds-required"
                                    title="required">* </abbr>Last Name</label>
                            <div class="slds-form-element__control">
                                <input type="text" id="lastName" class="slds-input" placeholder="Riker" required="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-form-element__row">
                    <div class="slds-size_1-of-1">
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="email"> <abbr class="slds-required"
                                    title="required">* </abbr>Email</label>
                            <div class="slds-form-element__control">
                                <input type="text" id="email" class="slds-input" placeholder="will.riker@starfleet.org"
                                    required="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="slds-p-top_small">
            <button class="slds-button slds-button_brand slds-align_absolute-center" id="submit" value="submit">
                <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                    <use xlink:href="slds/assets/icons/utility-sprite/svg/symbols.svg#send"></use>
                </svg>Submit</button>
        </div>

    </div>
</div>