<div class="slds-align_absolute-center">
    <div class="slds-size_8-of-12 ">

        <div class="slds-section slds-is-open">
            <h3 class="slds-section__title slds-theme_shade">
                <span class="slds-truncate slds-p-horizontal_small" title="Experts Baseline App">Experts Baseline
                    App</span>
            </h3>
            <div class="slds-align_absolute-center slds-m-top_small">
                <div aria-hidden="false" class="slds-section__content">
                    <p>This app functions as the baseline design standard for MCA apps. It's built leveraging the <a
                            href="https://www.lightningdesignsystem.com/">Salesforce Lightning Design System</a> (SLDS).
                        Leverage the content, components, and utilities available from SLDS to quickly define the UI.
                    </p>
                    <hr>
                </div>
            </div>
        </div>

    </div>
</div>