<!DOCTYPE html>
<html>

<head>
    <!-- Header -->
    <% include partials/header %>
    <!-- /Header -->
</head>

<body>
    <!-- Navigation 
    Need to implement the Nav code for this to work-->
    <!-- include partials/nav -->
    <!-- /Navigation -->

    <h1><%= message %></h1>
    <h2><%= error.status %></h2>

</body>
<script src="javascripts/main.js"></script>

</html>

