<!DOCTYPE html>
<html>

<head>
    <!-- Header -->
    <% include partials/header %>
    <!-- /Header -->
</head>

<body>
    <div>
    <!-- Navigation -->
    <% include partials/nav %>
    <!-- /Navigation -->    

    <!-- Body -->
    <% include partials/index-body %>
    <!-- /Body -->

    <!-- Form -->
    <% include partials/index-form %>
    <!-- /Form -->

    <!-- Spinner -->
    <% include partials/spinner %>
    <!-- /Spinner -->

    <!-- Status -->
    <% include partials/index-status %>
    <!-- /Status -->
    </div>
    <!-- Navigation -->
    <% include partials/appLauncher %>
    <!-- /Navigation -->
</body>

<script src="javascripts/main.js"></script>

</html>