<!DOCTYPE html>
<html>

<head>
    <!-- Header -->
    <% include partials/header %>
        <!-- /Header -->
</head>

<body>
    <div class="slds-grid slds-grid_vertical">
        <div class="slds-col">
            <% include partials/nav %>
        </div>
        <div class="slds-col">
            <% include partials/index-form %>
            <% include partials/index-body %>
        </div>
        <div class="slds-col">
            <% include partials/spinner %>
            <% include partials/index-status %>
        </div>
    </div>    
    <% include partials/appLauncher %>
</body>

<script src="javascripts/main.js"></script>

</html>